<!DOCTYPE html>
<html lang="es"> 
<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
		<title>Temas de ayuda - SimProduction</title>
		<link href="{{ asset('css/login2.css') }}" type="text/css" rel="stylesheet" />
	    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />
    </head>
    <body>		
		<div class="header ">
			<div class="bg">
				<div class="logo"> 
					<a href="login"><img src="{{ asset('images/logo.png') }}" alt="logo"/></a>
				</div>
			</div>
		</div>		
		<div class="cabecera">
			<h3><a href="index">Inicio</a> › F.A.Q. - Temas de ayuda</h3>
		</div>		
		<div class="bg titulo">
			<h1>F.A.Q. - Temas de ayuda</h1>
			<h3>En esta sección se muestran las preguntas más preguntas en relación con simProduction</h3>
		</div>
		<div class="wrap">	
			<div class="contenido">	
				<div class="indice_ayuda">					
					1. &nbsp;<a href="#ayuda1">¿Cómo puedo registrarme en simProduction?</a><br/>
					2. &nbsp;<a href="#ayuda2">¿Cuántos niveles tengo que superar para aprender?</a><br/>
					3. &nbsp;<a href="#ayuda3">¿Cómo puedo controlar el dinero que gasto?</a><br/>
					4. &nbsp;<a href="#ayuda4">¿Cuántos préstamos puedo solicitar?</a><br/>
					5. &nbsp;<a href="#ayuda5">¿Qué perfiles de trabajador puedo contratar?</a><br/>
				</div>			
	
				<div class="indice_ayuda">					
					6. &nbsp;<a href="#ayuda6">¿Cómo puedo formar a mis empleados?</a><br/>
					7. &nbsp;<a href="#ayuda7">¿Qué puedo hacer si no existen empresas a las que comprar?</a><br/>
					8. &nbsp;<a href="#ayuda8">¿Cómo puedo poner a la venta mi producción a otras empresas?</a><br/>
					9. &nbsp;<a href="#ayuda9">¿Cómo funciona el proceso de producción?</a><br/>
					10. &nbsp;<a href="#ayuda10">¿Puedo modificar las características de la empresa?</a><br/>
				</div>			
			</div>	
		</div>							
		<div class="divider"></div>

		<div class="bg">				
			<div class="contenido">				
				<div id="ayuda1" class="clear justify">
					<h3>¿Cómo me registro en simProduction?</h3>
					Registrarte en simProduction es muy fácil. Solo tienes que acceder a la sección de <a href="registro">Registro</a> y rellenar los datos personales que se te piden. Una vez rellenes ese formulario, ya podrás acceder a tu cuenta pero todavía no podrás jugar. Se te pedirán los detalles de la empresa que quieres crear para participar en el juego. Cuando ya hayas rellenado este segundo formulario ya podrás empezar a jugar. Bienvenido a simProduction!
				</div>
				<div id="ayuda2" class="clear justify">
					<h3>¿Cuántos niveles tengo que superar para aprender?</h3>
					SimProduction tiene 5 niveles de desarrollo. Al comenzar el juego, la empresa está en el nivel 0, con unos determinados empleados, unas condiciones económicas y una producción constante. Esta producción se incrementará según se vaya escalando en los niveles de desarrollo de la empresa. No obstante, no es necesario llegar al nivel 4 para aprender ciertas nociones empresariales. SimProduction es una herramienta de aprendizaje constante en la que la propia simulación hace las funciones de enseñanza.
				</div>
				<div id="ayuda3" class="clear justify">
					<h3>¿Cómo puedo controlar el dinero que gasto?</h3>
					Para aprender a dirigir una empresa, es necesario controlarla económicamente. Para este fin, existe una sección de banco. En ella aparece un historial de movimientos financieros que junto a los gráficos, indican de forma clara la salud económica de la empresa. Con el fin de que el usuario esté siempre al corriente de la situación financiera de la entidad, en la página principal existe un resumen en el que se incorpora los próximos gastos a los que la empresa se va a enfrentar en un futuro cercano.
				</div>
				<div id="ayuda4" class="clear justify">
					<h3>¿Cuántos préstamos puedo solicitar?</h3>
					´olo se permite la solicitud de un préstamo de forma simultánea. Éste se pide desde la sección de banco, y se devuelve en el número de plazos especificado. Las cuotas de devolución se pagan cada 4 días, y una vez devueltas, se puede volver a solicitar un nuevo préstamo.
					</div>
				<div id="ayuda5" class="clear justify">
					<h3>¿Qué perfiles de trabajador puedo contratar?</h3>
					Cada empresa solamente puede contratar aquellos perfiles de trabajador específicos de su sector. No existe ningún límite de empleados en la empresa, no obstante, el usuario debe tener un especial cuidado con los salarios de la plantilla ya que supone un gran gasto para la entidad.
				</div>
					<div id="ayuda6" class="clear justify">
					<h3>¿Cómo puedo formar a mis empleados?</h3>
					En la sección de personal, aparece la lista de los trabajadores contratados en la empresa. Se pueden seleccionar cada uno de estos trabajadores, de tal forma que aparece una ficha del empleado y un cuadro de formación. En este cuadro aparecen los diferentes cursos a los que se puede enviar al empleado en cuestión. El precio de cada curso depende de la distancia entre la empresa y el centro tecnológico que lo imparte.
				</div>
				<div id="ayuda7" class="clear justify">
					<h3>¿Qué puedo hacer si no existen empresas a las que comprar?</h3>
					En el hipotético caso de que no existan empresas a las que comprar cierto producto, siempre se podrá comprar a SimProduction por un precio superior al precio de mercado.
				</div>
				<div id="ayuda8" class="clear justify">
					<h3>¿Cómo puedo poner a la venta mi producción a otras empresas?</h3>
					Para poder vender la producción de la empresa, se debe poner en el mercado un lote en promoción. Cada empresa puede ofrecer 4 lotes como máximo, permitiendo de este modo la técnica de Rappel, disminuyendo el precio por unidad en cantidades mayores. Es de vital importancia tener en cuenta el precio de venta de emergencia y el precio de la competencia para poder ofrecer un producto competitivo.
				</div>
				<div id="ayuda9" class="clear justify">
					<h3>¿Cómo funciona el proceso de producción?</h3>
					La producción se realiza de forma automática cada hora. En caso de que la empresa pertenezca al sector minero, no se consume ninguna materia prima. Sin embargo, si no es el caso, se necesita tener suficiente materia prima para poder producir. En el caso de la producción de herramientas se precisa de 5kg de mineral por cada herramienta fabricada; y en el caso de los vehículos, se necesitan 300kg de mineral por vehículo.
					</div>
				<div id="ayuda10" class="clear justify">
					<h3>¿Puedo modificar las características de la empresa?</h3>
					Sí. Una vez logueado en SimProduction, arriba a la derecha aparece el logotipo de la empresa. Es un enlace a la página de configuración de la cuenta. En ella se permite modificar el nombre de la empresa, contraseña, email y logotipo.
				</div>
			</div>
		</div>
		<div class="bg">
			<div class="footer clear">	
				<div class="navigation">
					<ul>
						<li><a href="{{ url('index') }}">Inicio</a></li>
						<li><a href="{{ url('acercaDe') }}">Acerca de</a></li>
						<li><a href="{{ url('termsOfUse') }}">Términos de uso</a></li>
						<li><a href="{{ url('ayuda') }}">F.A.Q.</a></li>			
						<li class="laster"><a href="{{ url('registro') }}">Registro</a></li>			
					</ul>
				</div>		
				<div class="author">Copyright © 2013, Cátedra Telefónica - Deusto</div>
			</div>
		</div>	
    </body>
</html>


