<!DOCTYPE html>
<html lang="es"> 
<head> 
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
		<title>Términos de uso - SimProduction</title>
		<link href="{{ asset('css/login2.css') }}" type="text/css" rel="stylesheet" />
	    <link rel="shortcut icon" href="{{ asset('images/favicon.png') }}" />
    </head>
    <body>		
		<div class="header ">
			<div class="bg">
				<div class="logo"> 
					<img src="{{ asset('images/logo.png') }}" alt="logo"/>
				</div>
			</div>
		</div>		
		<div class="cabecera">
			<h3><a href="index">Inicio</a> › Términos de uso</h3>
		</div>
		<div class="bg titulo">
			<h1>Términos de uso</h1>
			<h3>Los términos de uso que se exponen a continuación son de obligado cumplimiento. Todo jugador registrado en simProduction está obligado a cumplirlos.</h3>
		</div>
		<div class="wrap">
			<div class="contenido">
				<div class="col3">
					<h3>Aceptación de los Términos de Uso</h3>
					<p>El acceso o uso de cualquier web o servicio significa que usted ha leído , entendido y acepta los términos de uso. Al acceder o utilizar cualquier sitio web o servicio, usted también declara que tiene la autoridad legal para aceptar los términos en su nombre y en cualquiera de las partes que lo represente en relación con su uso de cualquier sitio web o servicio. Si no acepta los términos, usted no está autorizado a usar cualquier Sitio Web o servicio. </p>
				
					<h3>Cambios en las condiciones</h3>
					<p>De vez en cuando, <b>simProduction</b> puede cambiar, suprimir, añadir o modificar los términos, y se reserva el derecho de hacerlo cuando lo considere oportuno. En tal caso, publicaremos las nuevas Condiciones de Uso, indicando la fecha revisión.  Le recomendamos que revise periódicamente los Términos. Todos los términos nuevos o modificados entran en vigor inmediatamente, sin embargo, si <b>simProduction</b> así lo considera, entrará en vigor 30 días después de que se publiquen en la web. Si no está de acuerdo con cualquier modificación de los términos, podrá rescindir el presente acuerdo mediante el cese de uso de los sitios web y servicios. Su uso continuo de cualquier sitio web o servicio después de nuevos y / o términos revisados ​​son eficaces indicar que ha leído, entendido y aceptado los Términos y Condiciones. </p>
				
					<h3>Disposición de los sitios web y servicios en general</h3>
					<p>Sólo se pueden utilizar los sitios web y servicios de acuerdo con estos Términos y las Condiciones adicionales aplicables. Usted no podrá utilizar los sitios web y servicios para ningún propósito que sea ilegal o esté prohibido por estos términos, las Condiciones adicionales aplicables, o cualquier otra condición o avisos que están disponibles en cualquier sitio web o servicio.</p>
				
					<h3>Ubicación de los sitios web y servicios</h3>
					<p>Los sitios web y los servicios son controlados y ofrecidos por <b>SimProduction</b> desde sus instalaciones en España. <b>SimProduction</b> no garantiza que los sitios web o servicios son apropiados o disponibles para su uso en otros lugares. Si va a utilizar o acceder desde otras jurisdicciones, lo hace bajo su propio riesgo y usted es responsable de cumplir con las leyes locales. No obstante, las páginas web pueden contener o proporcionar enlaces a contenido alojados en los sitios web ubicados fuera de España.</p>
					
					<h3>Conducta del usuario</h3>
					<p>El usuario se compromete a no utilizar los sitios web o servicios a:<br/>
					- Publicar, transmitir o usar el Contenido que usted no tiene el derecho de publicar o utilizar, por ejemplo, en virtud de la propiedad intelectual, las leyes de confidencialidad, de privacidad o de otro tipo aplicables.<br/>
					- Publicar, transmitir o usar contenido no solicitado o no autorizado, incluyendo la publicidad o materiales promocionales, "correo basura", "spam", "cartas en cadena", "esquemas piramidales", o cualquier otra forma de solicitación no solicitado o indeseable y publicitarios.<br/>
					- Publicar, transmitir o usar el Contenido que contenga virus de software o cualquier otro código de computadora, archivos o programas diseñados para interrumpir, destruir o limitar la funcionalidad de cualquier software o hardware o equipo de telecomunicaciones o interferir con o interrumpir los Sitios o Servicios o los servidores o redes conectadas a los sitios Web o los Servicios, o que desobedece a los requisitos, procedimientos, políticas o regulaciones de las redes conectadas a los sitios web o servicios.<br/>
					- Publicar o transmitir Contenido que sea perjudicial, ofensivo, obsceno, abusivo, invasivo de la privacidad, difamatorio, de odio o discriminatorias de otro modo, falsa y engañosa, incita a un acto ilegal, o es de otra manera en violación de sus obligaciones para con cualquier persona o contrario a cualquier ley leyes y reglamentos.<br/>
					- Intimidar o acosar a otro.<br/>
					- Usar o intentar usar la cuenta, servicio o información personal.<br/>
					- Suprimir, eludir, desactivar, dañar o interferir con cualquier característica relacionados con la seguridad que imponen limitaciones en el uso de los Sitios Web o los Servicios.<br/>
					- Intentar obtener acceso no autorizado a los Sitios o Servicios, a otras cuentas, sistemas informáticos o redes conectadas a los sitios web o servicios, mediante el recordatorio de contraseña hacking o cualquier otro medio o interferir o intentar interferir con el correcto funcionamiento de los sitios web o servicios o cualquier otra actividades llevadas a cabo a través de las páginas web o los Servicios.<br/>
					- El uso de cualquier medio para eludir o ignorar robot.txt, u otras medidas que utilizamos para restringir el acceso o uso de los Sitios Web o los Servicios.<br/>
					- Hacerse pasar por otra persona o entidad, o declarar falsamente o tergiversar su afiliación con una persona o entidad.<br/>
					- Publicar o transmitir cualquier información personalmente identificable sobre personas menores de 13 años de edad, incluyendo, sin limitación en relación con los Servicios ofrecidos en ella.	
					</p>
					
					<h3>Condiciones relativas al contenido de los sitios web y servicios</h3>					
					<p><strong>Responsabilidad del contenido</strong><br/>Usted entiende que todos los materiales, datos e información, como archivos de datos, texto escrito, programas informáticos, música, archivos de audio u otros sonidos, fotografías, videos u otras imágenes que usted pueda tener acceso es responsabilidad exclusiva de la persona que originó dicho Contenido. Esto incluye a las afirmaciones de que las personas pueden hacer, expresa o tácitamente, acerca de la procedencia y propiedad del contenido que ellos proporcionan, cargar, lista y / o vincular.<br/><br/>Usted reconoce que <b>SimProduction</b> no hace ninguna representación o garantía sobre el Contenido, incluyendo, sin limitación, la exactitud, integridad o calidad del Contenido disponible a instigación de los usuarios de los sitios web y servicios. Usted reconoce que al utilizar los Sitios Web y los Servicios, usted puede estar expuesto a Contenido que es ofensivo, indecente u objetable. En ningún caso <b>SimProduction</b> se hace responsable por cualquier Contenido, incluyendo, pero sin limitarse a: cualquier contenido infractor, los errores u omisiones en el Contenido, o por cualquier pérdida o daño de cualquier tipo incurridos como resultado del uso de cualquier Contenido publicado, transmitido a, vinculadas o accesibles de otro modo o puesto a disposición a través de los sitios web y servicios. </p>
					
					<p><strong>Usuarios Registrados</strong><br/>Sólo las personas que tienen más de la mayoría de edad en su jurisdicción (que normalmente es de 18, pero pueden ser diferentes en su jurisdicción) y plenamente competente para entrar en los términos, condiciones, obligaciones, afirmaciones, declaraciones y garantías establecidas en los Términos y acatar y cumplir con los términos pueden registrarse para una cuenta y utilizar sus servicios relacionados, a condición, sin embargo, que si usted es menor de edad en su jurisdicción, pero más de 13 años de edad, puede inscribirse con la autorización expresa del su padre, madre o tutor legal. Cualquier registro, uso o acceso a los servicios prestados a los usuarios registrados (se define a continuación) por cualquier persona (1) bajo la edad de 13 años o (2) en la mayoría de edad en su jurisdicción, pero sin permiso de los padres o tutor, no está autorizado , sin licencia y una violación de estos Términos. Al registrarse en una cuenta en cualquiera de las páginas web o el uso de los servicios relacionados, usted representa y garantiza que (1) son la mayoría de edad en su jurisdicción o, (2) son mayores de 13 años y tener el permiso expreso de un tutor legal para convertirse en un usuario registrado y Servicios de uso que se hace disponible para usuarios registrados, y además se compromete a cumplir con todos los términos y condiciones de estos Términos y las Condiciones adicionales aplicables.</p>
				</div>			
			</div>			
		</div>			
		<div class="bg">
			<div class="footer clear">	
				<div class="navigation">
					<ul>
						<li><a href="{{ url('index') }}">Inicio</a></li>
						<li><a href="{{ url('acercaDe') }}">Acerca de</a></li>
						<li><a href="{{ url('termsOfUse') }}">Términos de uso</a></li>
						<li><a href="{{ url('ayuda') }}">F.A.Q.</a></li>			
						<li class="laster"><a href="{{ url('registro') }}">Registro</a></li>			
					</ul>
				</div>		
				<div class="author">Copyright © 2013, Cátedra Telefónica - Deusto</div>
			</div>
		</div>	
    </body>
</html>


